html {
    scroll-behavior: smooth;
}

.contentCat {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px; /*нижний внутренний отступ*/
    background: rgb(236, 245, 255);
    min-height: 90vh;
}   

h1 { 
    text-align: center;
    color: #002b58;
}

.itemNews{ 
    
    width: 350px;
    height: 300px;
    
}

.itemNews img{ 
    width: 350px;
    height: 300px;  
}

.scale {
    transition: 0.5s; /* Время эффекта */
}

.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.breweries { /* расстояние от предыдушего блока */
    max-width: 1000pt;    
    margin: auto;
}

.breweries > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    grid-gap: 3rem;
}

.breweries > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    width: 350px;
    height: 300px;
}
  
.breweries > ul > li > figure {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 7px 7px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    
}
  
.breweries > ul > li > figure > img {
    width: 100%;
}

.breweries > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  text-align: center;
  padding: .75rem;
  font-size: 1.25rem;
}

@media (min-width: 376px) and (max-width: 424px){  /* Mobile M */
 
    .breweries > ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        align-items: center;
        grid-gap: 1rem;
    }

    .breweries > ul > li {
        border: 1px solid #E2E2E2;
        border-radius: .1rem;
        width: 87%;
        height: 90%; 
    }  

}

@media (min-width: 318px) and (max-width: 375px){ /* Mobile S */
 
    .breweries > ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        align-items: center;
        margin: auto;
        grid-gap: 1rem;
    }

    .breweries > ul > li {
        border: 1px solid #E2E2E2;
        border-radius: .1rem;
        width: 87%;
        height: 90%; 
    }  

    .breweries > ul > li > figure {
        border: 1px solid rgb(209, 209, 209);
        border-radius: 7px 7px;
        overflow: hidden;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        position: relative;
        
    }
}

