ul{
    padding: 30px 30px 0 30px;
}



.contentList {
    /*padding-bottom: 50px; !*нижний внутренний отступ*!*/
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }
  
 .nameCategory {
  padding-top: 10px;
  padding-bottom: 30px;
 }
 .nameCategory h3 {
  color: #002b58;
  text-align: center;
 }

  .grid-container {
      /*align-items: center;*/
      /*justify-items: center;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   grid-column-gap: calc(10px + 5%);
    grid-template-areas: ". . ." ". . ." ". . ." ". . .";
    grid-row-gap: 40px;
  }
  