ul{
    padding: 30px 20px 0 30px;
}

.contentList {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; /*нижний внутренний отступ*/
    min-height: 80vh;
    background: rgb(236, 245, 255);
  }
  
 .nameCategory {
  padding-top: 10px;
  padding-bottom: 30px;
 }
 .nameCategory h3 {
  color: #002b58;
  text-align: center;
 }


  

  html {
    scroll-behavior: smooth;
}

.list { /* расстояние от предыдушего блока */
  max-width: 1000pt;    
  margin: auto;
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  grid-gap: 1rem;
  grid-row-gap: 7rem;
}

.list > ul > a {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  width: 250px;
  height: 250px;
  background-color: white;
}



@media (min-width: 376px) and (max-width: 424px){  /* Mobile M */
 
  .breweries > ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      align-items: center;
      grid-gap: 1rem;
  }

  .breweries > ul > li {
      border: 1px solid #E2E2E2;
      border-radius: .1rem;
      width: 87%;
      height: 90%; 
  }  

}

@media (min-width: 318px) and (max-width: 375px){ /* Mobile S */

  .breweries > ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
      align-items: center;
      margin: auto;
      grid-gap: 1rem;
  }

  .breweries > ul > li {
      border: 1px solid #E2E2E2;
      border-radius: .1rem;
      width: 87%;
      height: 90%; 
  }  

  .breweries > ul > li > figure {
      border: 1px solid rgb(209, 209, 209);
      border-radius: 7px 7px;
      overflow: hidden;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
      position: relative;
      
  }
}
