.Exhibit{
	min-height: 100vh;
}

.contentExhibit{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main_wrap{
	display: block;
}


.back{
	min-height: 90px;
}
.photo{
	max-width: 500px;
	margin-top: 70px;
}
.carousel-inner{
	padding: 0;
}
.nameplate{
	display: flex;
	align-items: center;
	line-height: 100px;
	justify-content: space-around;
	max-width: 200px;
	min-height: 40px;
	background-color: #0a3374;
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 30px;
	padding: 10px;


}

.about{
	max-width: 350px;
	min-height: 30px;
}

@media (max-width: 768px) {

	.contentExhibit{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.left{
		max-width: 600px;
		margin: 30px 30px 0 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.about{
		text-align: justify;
		max-width: 600px;

	}
	.nameplate{
		display:none;
	}

	.right{
		margin: 0 30px 0 30px;
	}
}