.inner-content{
    color: #002b58;
    margin-bottom: 20px;
    margin-left: 40px;
    position: static; /* Статичексое положение */
    z-index: 9999;
    text-align: justify
}

.block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content{
    width: 55%;
    padding-bottom: 50px; /*нижний внутренний отступ*/
    background: rgb(236, 245, 255);
}

.images{
    width:427px;
    height:284px;
}

@media (max-width: 650px) {
    p {
        font-size: 10px;
    }

    .images {
        width: 214px;
        height: 142px;
        padding: 10px;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        width: 400px;
        padding-bottom: 20px;

    }
}