
.head {
  background-color: #f7f7f7; /* Цвет фона */
  max-height: 105px;
  color: #002b58;
  width: 100%; /* Ширина слоя */
  z-index: 9999;
    position: relative;
    opacity: 0.99;
   box-shadow: 0 0 20px rgba(0,0,0,1);
}



/*.header_align{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/

.logo{
    max-height: 80px;
}

.info {
    align-items: center;
    text-align: center;
    max-width: 800px; /* Ширина элемента в пикселах */
}

.nav {
  width: 400px;
  height: 40px; /* Ширина элемента в пикселах */
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-around;

}

 .name {
  text-align: center;
}

@media (max-width: 670px) {
    .title{
        font-size: 1.4rem;
    }
    .logo{
        width: 80px;
    }

    .nav{
        max-width: 200px;
        line-height: 5px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
    }
}

@media (max-width: 537px) {

    .title{
        font-size: 1.3rem;
    }
    .logo{
        width: 50px;
    }
}

