
.calendar-img{
	float: left;
	max-height: 25px;
	max-width: 25px;
}

.card_img{
	width: 200px;
}


.image_date{
	display: flex;
	flex-direction: column;
}

.news_wrap{
	margin: auto;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	align-items: center;
	justify-content: space-around;
}