.card-deck{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 19%;
	margin-right: 19%;

}
.calendar-img{
	float: left;
	max-height: 25px;
	max-width: 25px;
}
.calendar-text{
	float: left;
	margin-left: 15px;
}